body{
    background-color: #242424;
    color: aliceblue;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    font-family: system-ui
}

p{
    margin: 10px;
    padding: 5px;
}
.img_cat{
    max-width: 320 px;
    height: 50vh;
}

.btn_change{
    margin: 10px;
    border-radius: .8px;
    background-color: aliceblue;
    padding: 5px 10px;
}

.btn_change:hover {
    background-color: #686868;
    color: aliceblue;
}