
.buscador{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px;
}

.form{
    display: flex;
    flex-direction: row;
}

input {
    width: 460px;
}

main{
    display: flex;
    justify-content: center;
}